.container {
  width: 100%;
  height: 100%;
  --s: 82px;
  --c1: #faf9f9;
  --c2: #ffffff;
  --c3: #d9d9d9;

  --_g: var(--c3) 0 120deg, #0000 0;
  background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
    conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
    conic-gradient(
      from 60deg at calc(200% / 3),
      var(--c3) 60deg,
      var(--c2) 0 120deg,
      #0000 0
    ),
    conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
    linear-gradient(
      90deg,
      var(--c1) calc(100% / 6),
      var(--c2) 0 50%,
      var(--c1) 0 calc(500% / 6),
      var(--c2) 0
    );
  background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%;
}


  .team-section-bg {
    background-color: #007bff; /* Bootstrap primary blue */
    color: #ffffff; /* Change text color to white for better contrast */
    width: 100%; /* Ensure it spans the full width */
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; /* Ensures padding does not affect the overall width */
  }
  
  